<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/master-layouts}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <main layout:fragment="main-content">
        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    <div class="col">
                        <th:block th:replace="~{fragment/card ::card-action(uuid,username,fullName,category,description,thumbnail)}"></th:block>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>